#playground .output-area {
    width: 80%;
    margin: 0 auto;
}

#playground .output-area .output-url {
    margin: 0 10px;
    font-weight: 500;
}

#playground .gdax-docs {
    height: 80vh;
}

.fab {
    position: fixed;
    right: 50px;
    z-index: 1;
}

.fab.fab-up {
    bottom: 120px;
}

.fab.fab-down {
    bottom: 50px;
}


.row.search_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row.search_bar > * {
    margin: 0 10px;
}

.row.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row.pagination > * {
    margin: 0 5px;
}
